GOOGLE_SHEET_ID=
GOOGLE_GEMINI_API_KEY=
GOOGLE_GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GOOGLE_SHEET_NAME_RECEIVE_LOG=ReceiveLog
GOOGLE_SHEET_NAME_SEND_LOG=SendLog
GOOGLE_SHEET_NAME_USERS=Users

LINE_CHANNEL_ACCESS_TOKEN=
LINE_PUSH_API_URL=https://api.line.me/v2/bot/message/push
LINE_GROUP_MEMBER_PROFILE_API_URL=https://api.line.me/v2/bot/group/{groupId}/member/{userId}
LINE_GROUP_ID=
LINE_WEBHOOK_TOKEN=
